@import "./input";
@import "./select";

.form {
  position: relative;
  width: 402px;
  min-width: 402px;
  height: 456px;
  font-size: 16px;
  line-height: 15px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 60px;
    background: linear-gradient(
      184.68deg,
      rgba(0, 145, 244, 0.8) 8.82%,
      rgba(0, 137, 231, 0.9) 92.44%
    );
    box-shadow: 0px 0px 10px rgb(1 3 126 / 15%);
    border-radius: 20px;
    .file {
      margin-top: 13px;
      label {
        color: #ffffff;
        cursor: pointer;
        p {
          color: #ececec;
          padding-left: 15px;
          font-size: 16px;
          line-height: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 280px;
        }
      }
      input {
        display: none;
      }
    }
    .btn {
      margin-top: 28px;
      background: #fcfcfc;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-size: 15px;
      line-height: 14px;
      color: #01037f;
      padding: 20px;
      width: 100%;
      vertical-align: center;
      border: none;
      cursor: pointer;
      border: 2px solid #fcfcfc;
      transition: 0.2 ease;
      &:hover {
        background-color: transparent;
        filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.1));
        color: #fff;
      }
    }
  }
  .error-text {
    font-size: 13px;
    line-height: 12px;
    color: #db2085;
    position: absolute;
    bottom: -16px;
    left: 10px;
  }
  .polygon-1 {
    position: absolute;
    left: -67px;
    top: -30px;
    z-index: 0;
  }
  .polygon-2 {
    position: absolute;
    right: -50px;
    bottom: -40px;
    z-index: 0;
  }
  .polygon-3 {
    position: absolute;
    top: 90px;
    right: -55px;
    z-index: 0;
  }
  &__advice {
    position: absolute;
    width: 389px;
    height: 212px;
    left: -256px;
    bottom: -106px;
    display: flex;
    &__text {
      width: 206px;
      padding: 74px 41px 51px 26px;
      font-size: 16px;
      text-align: center;
      color: #f8f8f8;
      background: center / contain no-repeat url(img/Polygon_6.svg);
    }
    &__arrow {
      background: bottom center / contain no-repeat url(img/arrow_polygon.svg);
      width: 183px;
      height: 100%;
    }
    @include _1170 {
      left: -180px;
    }
    @include _768 {
      width: 206px;
      height: 212px;
      bottom: -162px;
      left: 50%;
      transform: translateX(-50%);
      &__arrow {
        display: none;
      }
    }
  }
  @include _979 {
    margin: 0 auto;
  }
  @include _600 {
    width: 320px;
    min-width: 320px;
    &__content {
      padding: 60px 20px;
    }
    .polygon-1 {
      display: none;
    }
    .polygon-2 {
      display: none;
    }
    .polygon-3 {
      display: none;
    }
  }
  @include _350 {
    margin-left: calc(-1*((350px - 100vw)/2));
  }
}
