.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 65px;
  border-bottom: 1px solid #e8e8e8;
  z-index: 9;
  background-color: $bg;
  transform: translateY(0%);
  opacity: 1;
  transition: 0.3s ease;
  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    width: 272px;
    &_item {
      cursor: pointer;
    }
  }
  &__promo {
    width: 108.5px;
    height: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__lang {
    display: flex;
    &_item {
      margin-left: 15px;
      color: $color;
      cursor: pointer;
      font-weight: $font-weight-s;
    }
    .active {
      font-weight: $font-weight;
    }
  }
  @include _979 {
    height: 103px;
    padding: 30px 0 15px 0;
    &__wrapper {
      flex-direction: column-reverse;
      padding-top: 5px;
    }
    &__links {
      width: 100%;
      justify-content: space-between;
      gap: 29px;
    }
    &__promo {
      left: 0;
      top: 0;
      transform: translateX(0);
    }
    &__lang {
      align-self: flex-end;
    }
  }
}
.inst:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    #ff9c29,
    #fe621f,
    #e03982,
    #8e3bb7,
    #0030ff
  );
}
.face:hover {
  color: #1877f2;
}
.linked:hover {
  color: #0073b1;
}

.header_hidden {
  transform: translateY(-100%);
  opacity: 0.5;
}