.input {
  position: relative;
  input {
    width: 100%;
    padding: 13px 10px;
    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #ececec;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #80c4fc;
    &::placeholder {
      font-family: "Gotham Pro";
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      color: #ececec;
    }
    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      color: #fff;
      border: none;
      outline: none;
      border-bottom: 1px solid #fff;
      background: transparent;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active &:-webkit-autofill:focus-visible {
      border: none;
      border-bottom: 1px solid #fff;
      -webkit-text-fill-color: #fff;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
