.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 110;
    &__backdrop {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5)
    }
    &__content {
        position: absolute;
        width: 504px;
        height: 199px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        border-radius: $border-radius;
        padding: 70px 60px 60px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__close {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            background: center/ contain no-repeat url(img/close.svg);
        }
        p {
            color: #606060;
        }
        &__title {

        }
        &__description {

        }
        @include _600 {
            width: 290px;
            padding: 70px 30px 37px 30px;
        }
    }
}