.select {
  padding: 13px 10px;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #ececec;
  background: transparent;
  border-bottom: 1px solid #80c4fc;
  cursor: pointer;
  position: relative;
  &__active {
    svg {
      transform: rotate(180deg);
    }
  }
  &__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  &:hover {
    border-bottom: 1px solid #fff;
  }
  &__options {
    position: absolute;
    z-index: 11;
    left: 0;
    bottom: -29px;
    height: 0;
    width: 100%;
    display: none;
    padding: 17px 0 12px 0;
    background-color: $bg;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    overflow: hidden;
    .active {
      background-color: #e1f3ff;
    }
    li {
      padding: 8px 20px;
      color: $color;
      &:hover {
        background-color: #e1f3ff;
      }
    }
    &__active {
      display: block;
      bottom: -177px;
      height: 177px;
    }
  }
  svg {
    position: absolute;
    right: 10px;
    top: 17px;
    transition: 0.2s ease;
  }
  &__active {
    color: #fff;
  }
}
