.about {
  width: 100%;
  margin-top: $section-vertical-space;
  font-weight: 300;
  overflow: hidden;
  padding-bottom: 150px;
  h2 {
    font-weight: 400;
  }
  @include _979 {
    margin-top: 110px;
    padding-bottom: 110px;
  }
  &__descr {
    width: 482px;
    margin-top: 20px;
    b {
      font-weight: 700;
    }
    @include _979 {
      width: 100%;
    }
  }
  &__content {
    position: relative;
    display: flex;
    align-items: end;
    gap: 50px;
    margin-top: 30px;
    &__img {
      width: 100%;
      img {
        width: 383px;
        height: 282px;
        display: block;
        margin-left: auto;
      }
    }
    &__text {
      width: 402px;
      min-width: 402px;
      p:nth-child(1) {
        margin-bottom: 20px;
      }
    }
    svg {
      position: absolute;
    }
    .polygon-1 {
      bottom: -61%;
      left: 10%;
    }
    .polygon-2 {
      bottom: 0;
      right: 0;
      transform: translateX(100%);
    }
    @include _979 {
      margin-top: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .polygon-2 {
        display: none;
      }
      .polygon-1 {
        bottom: 20%;
        left: -19%;
      }
      &__img {
        img {
          margin-right: auto;
        }
      }
      &__text {
        width: 100%;
        min-width: 100%;
      }
    }
    @include _600 {
      .polygon-1 {
        bottom: 35%;
        transform: translateX(-30%);
        left: 0%;
      }
      &__img {
        img {
          width: 290px;
          height: 214px;
        }
      }
    }
  }
}
