.footer {
  width: 100%;
  background: linear-gradient(275.22deg, #000259 0%, rgba(0, 2, 89, 0.87) 100%);
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 113px;
    height: 205px;
    @include _979 {
      flex-direction: column;
      gap: 50px;
      padding: 50px 0 40px 0;
      height: 561px;
    }
  }
  &__social {
    img {
      width: 186px;
      height: 41.32px;
      margin-bottom: 57.68px;
      object-fit: contain;
      object-position: left;
    }
    &__group {
      display: flex;
      justify-content: space-between;
      width: 272px;
      a {
        color: #fcfcfc;
      }
    }
    @include _979 {
      width: 100%;
      order: 1;
      img {
        margin-bottom: 40px;
      }
      &__group {
        width: 100%;
      }
    }
  }
  &__address {
    width: 100%;
    display: flex;
    gap: 65px;
    align-items: center;
    &__map {
      width: 140px;
      height: 145px;
      object-fit: contain;
      object-position: center;
    }
    &__links {
      p {
        margin-bottom: 18px;
        display: flex;
        gap: 10px;
        color: #fcfcfc;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        span {
          max-width: 302px;
          color: #fcfcfc !important;
        }
        a {
          max-width: 302px;
          color: #fcfcfc !important;
          line-height: 130%;
          font-size: 15px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__sub {
        font-weight: 300;
        width: 58px;
        display: block;
        text-align: end;
      }
    }
    @include _979 {
      flex-direction: column;
      gap: 50px;
      &__map {
        order: 1;
      }
    }
  }
}
