.interest {
  width: 100%;
  padding-top: $section-vertical-space;
  padding-bottom: $section-vertical-space;
  overflow: hidden;
  position: relative;
  .polygon-1 {
    position: absolute;
    left: 0;
    top: 150px;
    z-index: -1;
    @include _600 {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__img {
    position: relative;
    width: 275px;
    height: 243px;
    background: center / contain no-repeat url(img/logo_2.svg);
    svg {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-24%, -27%);
    }
    @include _979 {
      order: 1;
    }
  }
  &__descr {
    &__list {
      margin-top: 30px;
      padding-left: 38px;
      li {
        position: relative;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
        &::before {
          content: "";
          left: -38px;
          position: absolute;
          background: center / contain no-repeat url(img/Vector_list_2.png);
          width: 23px;
          height: 17.38px;
          background-position: top;
          background-size: 117%;
        }
      }
    }
  }
  @include _979 {
    padding-top: 110px;
    padding-bottom: 110px;
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
