.join {
  width: 100%;
  padding-bottom: 222px;
  overflow: hidden;
  &__wrapper {
    display: flex;
    gap: 96px;
    justify-content: space-between;
    padding-top: 40px;
    @include _979 {
      flex-direction: column;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    padding-left: 70px;
    width: 100%;
    position: relative;
    &__item {
      margin-bottom: 83px;
      position: relative;
    }
    .item1 {
      width: 327px;
      &::before {
        content: "";
        position: absolute;
        left: -3px;
        top: -42px;
        width: 29px;
        height: 58px;
        background: center / contain no-repeat url(img/1.svg);
      }
    }
    .item2 {
      width: 334px;
      align-self: flex-end;
      &::before {
        content: "";
        position: absolute;
        left: -3px;
        top: -42px;
        width: 48px;
        height: 58px;
        background: center / contain no-repeat url(img/2.svg);
      }
      &::after {
        content: "";
        position: absolute;
        left: -72px;
        bottom: 19px;
        width: 44px;
        height: 85px;
        background: center / contain no-repeat url(img/left_arrow.svg);
      }
    }
    .item3 {
      width: 264px;
      &::before {
        content: "";
        position: absolute;
        left: -3px;
        top: -42px;
        width: 50px;
        height: 58px;
        background: center / contain no-repeat url(img/3.svg);
      }
      &::after {
        content: "";
        position: absolute;
        right: -72px;
        bottom: 19px;
        width: 44px;
        height: 85px;
        background: center / contain no-repeat url(img/right_arrow.svg);
      }
    }
    .item4 {
      width: 223px;
      align-self: center;
      &::before {
        content: "";
        position: absolute;
        left: -3px;
        top: -42px;
        width: 54px;
        height: 58px;
        background: center / contain no-repeat url(img/4.svg);
      }
      &::after {
        content: "";
        position: absolute;
        left: -72px;
        bottom: 19px;
        width: 44px;
        height: 85px;
        background: center / contain no-repeat url(img/left_arrow.svg);
      }
    }
    &__bottom {
      margin-top: 15px;
      color: #fcfcfc;
      position: relative;
      align-self: center;
      width: 240px;
      height: 58px;
      svg {
        width: 54px;
        height: 58px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
      p {
        position: absolute;
        left: 20px;
        top: 26px;
        width: 711px;
        padding: 30px 54px 34px 80px;
        background: top no-repeat url(img/Vector_join.svg);
        background-size: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        left: 72px;
        top: -75px;
        width: 33px;
        height: 62px;
        background: center / contain no-repeat url(img/last_arrow.svg);
      }
    }
    .polygon-1 {
      bottom: 0;
      left: 0;
      transform: translate(-40%, 50%);
      position: absolute;
    }
    @include _979 {
      padding-left: 0px;
      &__item {
        margin-bottom: 73px;
      }
      .item1 {
        width: 100%;
      }
      .item2 {
        width: calc(100% - 72px);
      }
      .item3 {
        width: calc(100% - 72px);
        &::after {
          top: -58px;
          right: -59px;
        }
      }
      .item4 {
        align-self: flex-end;
        width: calc(100% - 72px);
        margin-bottom: 62px;
        &::after {
          left: -59px;
          top: -58px;
        }
      }
      &__bottom {
        width: 100%;
        height: max-content;
        padding-bottom: 26px;
        &::after {
          right: 0px;
          top: -58px;
          left: calc(100% - 33px);
        }
        p {
          background: linear-gradient(344.03deg, #f18c3c 7.22%, #ffa35b 100%);
          border-radius: 20px;
          position: relative;
          width: calc(100% - 20px);
          padding: 30px 10px 30px 60px;
          &::before {
            content: "";
            position: absolute;
            width: 120px;
            height: 120px;
            left: -60px;
            top: -60px;
            border-radius: 50%;
            background-color: $bg;
          }
        }
      }
      .polygon-1 {
        display: none;
      }
    }
  }
  @include _979 {
    padding-bottom: 150px;
  }
}
