.offer {
  width: 100%;
  padding-top: calc(65px + 65px);
  padding-bottom: calc(106px + 150px);
  position: relative;
  overflow: hidden;
  &__wrapper {
    display: flex;
    gap: 50px;
  }
  &__descr {
    padding-top: 30px;
    &__list {
      margin-left: 105px;
      margin-top: 90px;
      @include _1170 {
        margin-left: 55px;
      }
      &__items {
        margin-top: 18px;
        list-style: none;
        li {
          position: relative;
          line-height: 1.44rem;
          margin-bottom: 21px;
          &::before {
            content: "";
            width: 22px;
            height: 20px;
            position: absolute;
            left: -37px;
            top: 0;
            background: center / contain no-repeat url(./img/listItem.svg);
          }
        }
      }
    }
  }
  &__polygon-1 {
    position: absolute;
    left: 6%;
    top: 30%;
  }
  &__polygon-2 {
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
  &__polygon-3 {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__polygon-4 {
    position: absolute;
    bottom: 0;
    left: 30%;
  }
  @include _979 {
    padding-top: calc(103px + 30px);
    padding-bottom: calc(162px + 110px);
    &__wrapper {
      flex-direction: column;
      gap: 61px;
    }
    &__descr {
      padding-top: 0px;
      &__list {
        margin-left: 0;
        margin-top: 35px;
        &__items {
          padding-left: 35px;
        }
      }
    }
    &__polygon-1 {
      top: 17%;
    }
    &__polygon-2 {
      bottom: 28%;
    }
    &__polygon-4 {
      left: 0%;
    }
  }
  @include _768 {
    &__polygon-4 {
      left: 20%;
    }
  }
  @include _600 {
    &__polygon-1 {
      left: 100%;
      transform: translateX(-100%);
    }
    &__polygon-2 {
      display: none;
    }
    &__polygon-3 {
      display: none;
    }
    &__polygon-4 {
      display: none;
    }
  }
}
