.program {
  width: 100%;
  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    position: relative;
    &__left {
      position: relative;
      width: 462px;
      height: 269px;
      border-radius: 20px;
      padding: 35px 58px 30px 40px;
      overflow: hidden;
      background: center / contain no-repeat url(img/program_left_bg.svg);
      &:after {
        content: "";
        position: absolute;
        background: top right/contain no-repeat url(img/program_left.jpg);
        top: 0;
        z-index: -2;
        right: 0px;
        width: 100%;
        filter: blur(5px);
        height: 100%;
      }
      h3 {
        position: relative;
      }
      p {
        margin-bottom: 15px;
        padding-left: 22px;
        position: relative;
        &::before {
          content: "—";
          position: absolute;
          left: 0;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    &__center {
      width: 58px;
      height: 69px;
    }
    &__right {
      position: relative;
      width: 462px;
      height: 269px;
      border-radius: 20px;
      margin-top: 40px;
      padding: 35px 20px 30px 78px;
      overflow: hidden;
      background: center / contain no-repeat url(img/program_right_bg.svg);
      &:after {
        content: "";
        position: absolute;
        background: top right/contain no-repeat url(img/program_right.jpg);
        right: 8px;
        top: 4px;
        z-index: -2;
        width: 97%;
        filter: blur(5px);
        height: 98%;
      }
      p {
        margin-bottom: 15px;
        padding-left: 22px;
        position: relative;
        &::before {
          content: "—";
          position: absolute;
          left: 0;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    h3 {
      margin-bottom: 20px;
    }
    .polygon-1 {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
    }
    @include _979 {
      margin-top: 30px;
      flex-direction: column;
      &__left {
        background: linear-gradient(
          91.32deg,
          #0091f4 4.96%,
          rgba(0, 137, 231, 0.5) 109.76%
        );
        border-radius: 20px;
        padding: 35px 25px 25px 30px;
        width: 100%;
        height: 100%;
      }
      &__center {
        margin: -13px 0 -18px 0;
        z-index: 1;
      }
      &__right {
        svg {
          display: none;
        }
        background: linear-gradient(
          -282.52deg,
          #000259 -1.35%,
          rgba(0, 2, 89, 0.36) 100%
        );
        border-radius: 20px;
        padding: 35px 25px 25px 30px;
        margin-top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  @include _480 {
    .full {
      padding: 0;
    }
  }
}
