.ellipse {
  width: 140px;
  min-width: 140px;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 262px;
    height: 262px;
    transform: translate(calc(-50% - 31px), calc(-50% + 31px));
    background: center / contain no-repeat url(img/ellipse-polygon.svg);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -145px;
    width: 145px;
    height: 25px;
    background: center / contain no-repeat url(img/ellipse-arrow.svg);
  }
  &__1 {
    transform: unset !important;
    background: center / contain no-repeat url(img/Ellipse1.svg);
    &.en {
      background: center / contain no-repeat url(img/Ellipse1En.svg);
    }
  }
  &__2 {
    background: center / contain no-repeat url(img/Ellipse2.svg);
    &.en {
      background: center / contain no-repeat url(img/Ellipse2En.svg);
    }
    @include _480 {
      &:nth-child(2) {
        &::after {
          bottom: -25px;
        }
      }
    }
  }
  &__3 {
    background: center / contain no-repeat url(img/Ellipse3.svg);
    &.en {
      background: center / contain no-repeat url(img/Ellipse3En.svg);
    }
  }
  &__4 {
    background: center / contain no-repeat url(img/Ellipse4.svg);
    &.en {
      background: center / contain no-repeat url(img/Ellipse4En.svg);
    }
  }
}

.study {
  width: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
    position: relative;
    &__line {
      display: flex;
      gap: 78px;
      &__item {
        height: 140px;
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
      }
      .item1 {
        width: 285px;
        margin-top: 40px;
      }
      .item2 {
        width: 402px;
        margin-right: 70px;
      }
      .item3 {
        width: 293px;
        margin-top: 40px;
      }
      .item4 {
        width: 386px;
      }
    }
    svg {
      position: absolute;
    }
    .polygon-1 {
      left: 0;
      top: 25%;
    }
    .polygon-2 {
      left: 15%;
      top: 45%;
    }
    .polygon-3 {
      left: 7%;
      bottom: 0;
    }
    @include _979 {
      svg {
        display: none;
      }
      align-items: flex-start;
      gap: 50px;
      padding-top: 40px;
      &__line {
        gap: 50px;
        flex-direction: column;
        width: 100%;
        .item1 {
          margin-top: 0px;
        }
        .item2 {
          margin-right: 0px;
          align-self: end;
        }
        .item3 {
          margin-top: 0px;
        }
        .item4 {
          width: 372px;
          align-self: end;
        }
        @include _480 {
          .item1 {
            width: 100%;
          }
          .item2 {
            width: 100%;
          }
          .item3 {
            width: 100%;
          }
          .item4 {
            width: 100%;
          }
        }
      }
    }
  }
}
