* {
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: $font-size-xl;
  line-height: $line-height-base;
  font-weight: $font-weight-s;
  @include _600 {
    font-size: 27px;
  }
}
h2,
.h2 {
  font-size: $font-size-l;
  line-height: $line-height-base;
  color: #01037F;
}
h3,
.h3 {
  font-size: $font-size-ml;
  line-height: $line-height-base;
  font-weight: 700;
}
p {
  font-size: $font-size-m;
  line-height: $line-height-base;
}
li {
  font-size: $font-size-m;
  line-height: $line-height-base;
  @include _600 {
    font-size: 15px;
  }
}
a {
  font-size: $font-size-s;
  line-height: $line-height-s;
  text-decoration: none;
  color: $color;
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color;
}

.d-none {
  display: none;
}
