$bg: #fff;
$color: #3D3D3D;

$container-width-l: 1140px;
$container-width-m: 600px;
$container-width-s: 320px;
$section-vertical-space: 150px;
$section-vertical-space-s: 110px;
$gutter: 20px;
$gutter-s: 15px;
$border-radius: 20px;

$font-family: 'Gotham Pro', sans-serif;

$font-weight-b: 700;
$font-weight: 400;
$font-weight-s: 300;

$font-size-s:  15px;
$font-size-m:  18px;
$font-size-ml:  24px;
$font-size-l:  30px;
$font-size-xl:  44px;

$line-height-s: 14px;
$line-height-base: 130%;

@font-face {
    font-family: 'Gotham Pro';
    src: url("font/GothamPro.ttf") format("truetype");
    font-weight: $font-weight;
 }
 @font-face {
    font-family: 'Gotham Pro';
    src: url("font/GothamPro-Light.ttf") format("truetype");
    font-weight: $font-weight-s;
 }
 @font-face {
    font-family: 'Gotham Pro';
    src: url("font/GothamPro-Bold.ttf") format("truetype");
    font-weight: $font-weight-b;
 }