@import "./reset";
@import "./media";
@import "./constants";
@import "./base";

// components
@import "./components/header";
@import "./components/form";
@import "./components/modal";

//sections
@import "./sections/offer";
@import "./sections/study";
@import "./sections/about";
@import "./sections/program";
@import "./sections/interest";
@import "./sections/join";
@import "./sections/footer";

.container {
  max-width: calc($container-width-l + 30px);
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
  @include _979 {
    max-width: calc($container-width-m + 30px);
  }
  @include _600 {
    min-width: $container-width-s;
    width: 100%;
    padding: 0 15px;
  }
}

#preload {
  display: none !important;
}
